{% extends 'base.html' %}
{% block title %} Room - {{code}} {% endblock %}
{% block onclick %}
<a href="/{{user.first_name}}/home">
  <button class="nav_button" 
  onclick="disconnect_to_room('{{user.first_name}}', '{{code}}')">
   Home
  </button></a>
  <a href="/logout">
    <button class="nav_button"
    onclick="disconnect_to_room('{{user.first_name}}', '{{code}}')">
     Logout
    </button></a>
{% endblock %}
{% block nav %}
<a href="/{{user.first_name}}/home">
  <button class ="nav_button" 
  onclick="disconnect_to_room('{{user.first_name}}', '{{code}}')">
    Leave Room
  </button></a>
{% endblock %}
{% block content %}
<h2 align = 'center'> Room code: {{code}}</h2>
<div class="members" id="members">
  <ul>
    {% for member in members %}
    <li>{{member}}</li>
    {% endfor %}
  </ul>
</div>
<div id="output">
  {% for msg in old_messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
<div class = 'inputs'>
  <input type="text" rows="3" placeholder="Message" name="Message" id="Message" />
  <button class="submit-button" 
  onclick="sendMessage('{{user.first_name}}');
  socketio.emit('refresh_messages', '{{code}}');">Send</button>
</div>
<form method="POST">
  <select name="bank" id="bank">
    <option value="1000">1000</option>
    <option value="2000">2000</option>
    <option value="3000">3000</option>
    <option value="5000">5000</option>
  </select>
  <button type='submit' name='start' class="submit-button">  Start Game  </button>
</form>
{% block poker %}
{% endblock %}
<script>
  connect_to_room('{{user.first_name}}','{{code}}');
  socketio.emit('refresh_messages', '{{code}}');
  recvMessage();
  loadMessages();
  recvOutput();
  loadOutput('{{user.first_name}}');
  serverStartGame();
  startGame('{{user.first_name}}','{{code}}');
</script>
{% endblock %}