<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <script 
    type = 'text/javascript' 
    src = "{{url_for('static', filename='index.js')}}">
    </script>
    <nav>
      {% block nav %} 
      <a href="/">
        <button class="nav_button">
         Home
        </button></a>
      <a href="/login">
      <button class="nav_button">
       Login
      </button></a>
      <a href="/sign-up">
      <button class ="nav_button">
        Sign-Up
      </button></a>
      {% endblock %}
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>