{% extends 'base.html' %}
{% block title %} Sign-up {% endblock %}
{% block content %}
<form method='POST'>
  <h2 align = 'center'>Sign-Up</h2>
  <label>Email Address</label><br>
  <input type='email' id='email' placeholder='Enter email' /><br>
  <label>First Name</label><br>
  <input type='name' id='name' placeholder='Enter name' /><br>
  <label>Password</label><br>
  <input type='password' id='password1' placeholder='Enter password' /><br>
  <label>Password(confirm)</label><br>
  <input type='password' id='password2' placeholder='Confirm password' /><br>
  <button type='submit' class='submit-button'>Submit</button>
</form>
{% endblock %}